body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
    margin-bottom: 20px;
}

.mine {
    border: none;
    background-color: black;
    margin-bottom: 20px;
}

.mine :hover {
    cursor: pointer;
}

.BTC {
    border-radius: 150px;
    
}

#upgrade {
    margin-top: 20px;
}
